@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Author", sans-serif;
}

@layer components {
  .container {
    @apply max-w-7xl px-4;
  }
}

*::selection {
  background-color: #d2f8fe;
  color: #000;
}
.App {
  @apply absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)];
}
