:root {
    --color-background: #16161a;
    --color-headline: #fffffe;
    --color-paragraph: #94a1b2;
    --color-button: #7f5af0;
    --color-button-text: #fffffe;
    --color-illustration-stroke: #010101;
    --color-main: #fffffe;
    --color-highlight: #7f5af0;
    --color-secondary: #72757e;
    --color-tertiary: #2cb67d
}

* {
    font-family: Chillax, sans-serif !important;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-size: 1.6rem;
    background-color: var(--color-background);
    background-color: #0d1117;
    overflow-x: hidden;
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-headline)
}

a,
li,
p {
    color: var(--color-paragraph)
}

i {
    color: var(--color-highlight)
}

button {
    font-size: 1.6rem;
    color: var(--color-button-text);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--color-button)
}

button:hover {
    background-color: #fff;
    color: #f2f2f2
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background-color: var(--color-background)
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
    opacity: 70%
}

.mainHeader {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: relative
}

.contentOftitle {
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 1.5
}

.mainLogo {
    border-radius: 50%;
    padding: 10px;
    height: 120px;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    cursor: pointer
}

@media screen and (max-width:768px) {
    .mainHeader {
        height: 80vh
    }

    .mainLogo {
        height: 80px;
        width: 80px
    }

    .filter__select {
        background-color: #222;
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;
        position: fixed !important;
        top: 0;
        left: 0;
        bottom: unset !important
    }
}

@media screen and (max-width:480px) {
    .mainHeader {
        height: 100vh
    }

    .mainLogo {
        height: 60px;
        width: 60px
    }
}

.mainLogo:active {
    -webkit-animation-name: borderOfMainLogo;
    animation-name: borderOfMainLogo;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.mainFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 999;
    height: 77px
}

.mainFooter div {
    width: 100%;
    padding: 1rem 0
}

.mainFooter div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.mainFooter div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem
}

.mainFooter div:nth-child(2) aside:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%
}

.footerText {
    text-align: center;
    color: var(--color-main)
}

.footerText a {
    color: var(--color-tertiary);
    text-decoration: none
}

.footerText a:hover {
    text-decoration: underline
}

.gradientCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10rem !important;
    border-bottom: 2px dotted #72757e71
}

.gradientCard {
    position: relative;
    border-radius: 50% !important;
    height: 100%;
    width: 127px !important
}

.gradientCardDiv {
    height: 260px;
    width: 260px;
    border-radius: 30px !important;
    position: relative;
    background-color: #000;
    -webkit-box-shadow: 0 6px 15px rgba(36, 37, 38, .08);
    box-shadow: 0 6px 15px rgba(36, 37, 38, .08);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.gradientCardDivHeader {
    width: 100%
}

.ajs-message,
.ajs-success,
.ajs-visible {
    background: -o-linear-gradient(315deg, #38ef7d, #11998e) !important;
    background: linear-gradient(135deg, #38ef7d, #11998e) !important;
    color: #000 !important;
    font-weight: 700;
    border-radius: 8px !important;
    -webkit-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0 !important;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0 !important;
    border: 1.4px solid #000 !important
}

body,
html {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.gradientCards {
    padding: 20px
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1
}

.input__container {
    position: relative;
    background: rgba(255, 255, 255, .664);
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 300px;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(15deg) rotateY(-20deg);
    transform: rotateX(15deg) rotateY(-20deg);
    -webkit-perspective: 500px;
    perspective: 500px;
    z-index: 999;
    margin-top: 10vh
}

.shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    border-radius: 20px;
    background-color: #999cff;
    background-image: -o-radial-gradient(at 85% 51%, hsla(60, 60%, 61%, 1) 0, transparent 50%), -o-radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0, transparent 50%), -o-radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0, transparent 50%), -o-radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0, transparent 50%), -o-radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0, transparent 50%), -o-radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0, transparent 50%), -o-radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0, transparent 50%);
    background-image: radial-gradient(at 85% 51%, hsla(60, 60%, 61%, 1) 0, transparent 50%), radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0, transparent 50%), radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0, transparent 50%), radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0, transparent 50%), radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0, transparent 50%), radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0, transparent 50%), radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0, transparent 50%)
}

.input__button__shadow {
    cursor: pointer;
    border: none;
    background: 0 0;
    -webkit-transition: background .4s, -webkit-transform .4s;
    transition: background .4s, -webkit-transform .4s;
    -o-transition: transform .4s, background .4s;
    transition: transform .4s, background .4s;
    transition: transform .4s, background .4s, -webkit-transform .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px
}

.input__button__shadow:hover {
    background: rgba(255, 255, 255, .411)
}

.input__search {
    width: 100%;
    border-radius: 20px;
    outline: 0;
    border: none;
    padding: 8px;
    position: relative
}

:root {
    --color-background: #16161a;
    --color-headline: #fffffe;
    --color-paragraph: #94a1b2;
    --color-button: #7f5af0;
    --color-button-text: #fffffe;
    --color-illustration-stroke: #010101;
    --color-main: #fffffe;
    --color-highlight: #7f5af0;
    --color-secondary: #72757e;
    --color-tertiary: #2cb67d
}

* {
    font-family: Chillax, sans-serif !important;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-size: 1.6rem;
    background-color: var(--color-background);
    background-color: #0d1117;
    overflow-x: hidden;
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-headline)
}

a,
li,
p {
    color: var(--color-paragraph)
}

i {
    color: var(--color-highlight)
}

button {
    font-size: 1.6rem;
    color: var(--color-button-text);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--color-button)
}

button:hover {
    background-color: #fff;
    color: #f2f2f2
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background-color: var(--color-background)
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
    opacity: 70%
}

.mainHeader {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px dotted #72757e71
}

.contentOftitle {
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 1.5
}

.mainLogo {
    border-radius: 50%;
    padding: 10px;
    height: 120px;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    cursor: pointer
}

@media screen and (max-width:768px) {
    .mainHeader {
        height: 80vh
    }

    .mainLogo {
        height: 80px;
        width: 80px
    }
}

@media screen and (max-width:480px) {
    .mainHeader {
        height: 100vh
    }

    .mainLogo {
        height: 60px;
        width: 60px
    }
}

.mainLogo:active {
    -webkit-animation-name: borderOfMainLogo;
    animation-name: borderOfMainLogo;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.mainFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 999;
    height: 77px;
    margin-top: 5rem;
    gap: 2rem !important
}

.footerText {
    text-align: center;
    color: var(--color-main)
}

.footerText a {
    color: var(--color-tertiary);
    text-decoration: none
}

.footerText a:hover {
    text-decoration: underline
}

.gradientCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 10px 0
}

.gradientCard {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    position: relative
}

@media only screen and (max-width:620px) {
    .title {
        text-align: left;
        width: 100%
    }

    .contentOftitle {
        text-align: left
    }

    .gradientCard {
        width: 90vw
    }

    #root {
        padding-left: 20px;
        padding-right: 20px;
        margin: auto
    }
}

.ajs-message,
.ajs-success,
.ajs-visible {
    background: -o-linear-gradient(315deg, #38ef7d, #11998e) !important;
    background: linear-gradient(135deg, #38ef7d, #11998e) !important;
    color: #000 !important;
    font-weight: 700;
    border-radius: 8px !important;
    -webkit-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0 !important;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0 !important;
    border: 1.4px solid #000 !important
}

body,
html {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.input__container {
    position: relative;
    background: rgba(255, 255, 255, .664);
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 300px;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(15deg) rotateY(-20deg);
    transform: rotateX(15deg) rotateY(-20deg);
    -webkit-perspective: 500px;
    perspective: 500px;
    z-index: 999;
    margin-top: 10vh
}

.shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    border-radius: 20px;
    background-color: #999cff;
    background-image: -o-radial-gradient(at 85% 51%, hsla(60, 60%, 61%, 1) 0, transparent 50%), -o-radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0, transparent 50%), -o-radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0, transparent 50%), -o-radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0, transparent 50%), -o-radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0, transparent 50%), -o-radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0, transparent 50%), -o-radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0, transparent 50%);
    background-image: radial-gradient(at 85% 51%, hsla(60, 60%, 61%, 1) 0, transparent 50%), radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0, transparent 50%), radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0, transparent 50%), radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0, transparent 50%), radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0, transparent 50%), radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0, transparent 50%), radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0, transparent 50%)
}

.input__button__shadow {
    cursor: pointer;
    border: none;
    background: 0 0;
    -webkit-transition: background .4s, -webkit-transform .4s;
    transition: background .4s, -webkit-transform .4s;
    -o-transition: transform .4s, background .4s;
    transition: transform .4s, background .4s;
    transition: transform .4s, background .4s, -webkit-transform .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px
}

.input__button__shadow:hover {
    background: rgba(255, 255, 255, .411)
}

.input__search {
    width: 100%;
    border-radius: 20px;
    outline: 0;
    border: none;
    padding: 8px;
    position: relative
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: -40px;
    left: 50%;
    z-index: 1;
    background-color: var(--color-background)
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer
}

.pagination li a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: var(--color-headline);
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s
}

.pagination li a:hover {
    background-color: var(--color-secondary);
    color: var(--color-main);
    border-color: var(--color-secondary)
}

.pagination .active a {
    background-color: var(--color-button);
    color: var(--color-button-text);
    border-color: var(--color-button)
}

.pagination .disabled a {
    cursor: not-allowed;
    opacity: .5
}

.filter__container {
    z-index: 999;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5rem 0;
    display: none
}

.filter__select {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0
}

.filter__select option {
    background-color: #222;
    color: #fff
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: -o-radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat, conic-gradient(#0000 30%, #474bff);
    background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat, conic-gradient(#0000 30%, #474bff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    -webkit-animation: spinner-c7wet2 1s infinite linear;
    animation: spinner-c7wet2 1s infinite linear
}

.boujee-text {
    --bg-size: 400%;
    --color-one: #da22ff;
    --color-two: #9733ee;
    font-family: sans-serif;
    background: -webkit-gradient(linear, left top, right top, from(var(--color-one)), color-stop(var(--color-two)), to(var(--color-one))) 0 0 / var(--bg-size) 100%;
    background: -o-linear-gradient(left, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
    background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

@media (prefers-reduced-motion:no-preference) {
    .boujee-text {
        -webkit-animation: move-bg 8s linear infinite;
        animation: move-bg 8s linear infinite
    }

    @-webkit-keyframes move-bg {
        to {
            background-position: var(--bg-size) 0
        }
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0
        }
    }
}

.githubButton {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
    background: -o-linear-gradient(left, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px
}

.githubButton p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px
}

.gradientName {
    text-align: left !important;
    float: left !important;
    width: 100%
}

.githubButton:hover {
    -webkit-animation: ani 8s linear infinite;
    animation: ani 8s linear infinite;
    border: none
}

@-webkit-keyframes ani {
    0% {
        background-position: 0
    }

    100% {
        background-position: 400%
    }
}

@keyframes ani {
    0% {
        background-position: 0
    }

    100% {
        background-position: 400%
    }
}

.githubButton:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
    background: -o-linear-gradient(left, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.githubButton:hover:before {
    -webkit-filter: blur(20px);
    filter: blur(20px)
}

.githubButton:active {
    background: -o-linear-gradient(58deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4)
}

.githubButtonDiv {
    position: absolute;
    top: 2rem;
    right: 1rem
}

.spinner {
    width: 3em;
    height: 3em;
    cursor: not-allowed;
    border-radius: 50%;
    border: 2px solid #444;
    -webkit-box-shadow: -10px -10px 10px #6359f8, 0 -10px 10px 0 #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0#f50, 0 10px 10px 0 #ff9500, -10px 10px 10px 0 #ffb700;
    box-shadow: -10px -10px 10px #6359f8, 0 -10px 10px 0 #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0#f50, 0 10px 10px 0 #ff9500, -10px 10px 10px 0 #ffb700;
    -webkit-animation: rot55 .7s linear infinite;
    animation: rot55 .7s linear infinite
}

.spinnerin {
    border: 2px solid #444;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@-webkit-keyframes rot55 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rot55 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (max-width:509px) {
    .mainFooter div:nth-child(2) {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .mainFooter div:nth-child(1) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .pagination li {
        width: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .pagination li a {
        font-size: 10px
    }

    .githubButtonDiv {
        right: 0;
        left: 1rem !important
    }

    .input__container__div {
        position: relative;
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content
    }

    .input__container {
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
        -webkit-transform-style: unset;
        transform-style: unset;
        -webkit-transform: rotateX(0) rotateY(0);
        transform: rotateX(0) rotateY(0);
        -webkit-perspective: unset;
        perspective: unset;
        position: absolute;
        left: 0;
        top: 4rem;
        margin: auto
    }
}

#copyButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    padding: 1rem;
    background-color: transparent !important;
    border: none !important
}

.ContentCopyIcon {
    color: var(--color-button-text);
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.ContentCopyIcon:hover {
    color: var(--color-paragraph);
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.colorful {
    width: 22.4px;
    height: 22.4px;
    border-radius: 50%;
    background: #ffd82e;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    display: -ms-grid;
    display: grid;
    -webkit-animation: colorful-3vgb5t 1s infinite linear;
    animation: colorful-3vgb5t 1s infinite linear
}

.colorful:after,
.colorful:before {
    content: "";
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1;
    background: #ff6761;
    border-radius: 50%;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-name: colorful-k94uub;
    animation-name: colorful-k94uub
}

.colorful:after {
    background: #474bff;
    --s: 180deg
}

.preloader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #16161a;
    z-index: 9999;
    overflow: hidden
}

@-webkit-keyframes colorful-3vgb5t {

    0%,
    20% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes colorful-3vgb5t {

    0%,
    20% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes colorful-k94uub {
    50% {
        -webkit-transform: rotate(var(--s, 90deg));
        transform: rotate(var(--s, 90deg))
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes colorful-k94uub {
    50% {
        -webkit-transform: rotate(var(--s, 90deg));
        transform: rotate(var(--s, 90deg))
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black)
}